# .gitignore
*.o

Makefile
Makefile.in
aclocal.m4
confdefs.h
config.*
configure
confinc
confmf
conftest.*
stamp-h1*

/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing

/autom4te.cache/
/.deps/
/ChangeLog
/INSTALL
/mtr

/mtr-*.tar.gz
