# .gitignore
*.o

Makefile
Makefile.in
aclocal.m4
confdefs.h
config.*
configure
confinc
confmf
conftest.*
depcomp
install-sh
missing
stamp-h1*

/autom4te.cache/
/.deps/
/ChangeLog
/INSTALL
/mtr
/version.h
/version.h.tmp

